button.scroll-to-top-button {
    background-color: #565acf;
    border-radius: 8px;
    border-style: solid;
    border-width: 0;
    bottom: 15px;
    box-shadow: 0 10px 30px 0 rgba(31,34,120,.1);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 45px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 45px;
    z-index: 9999;
    display: none;
    box-shadow: 0 0 10px 0 #00000054;
}
.scroll-to-top-button.visible {
    display: block;
}