.login .account-wraper2 {
    align-items: center;
    /* background-color: #f5f5fc; */
    display: flex;
    height: 100vh;
}
.login .account-wraper2 .my-form {
    padding: 50px 40px;
}
.login .my-form {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 10px 60px 0 rgba(31,34,120,.15);
    padding: 40px 35px;
    position: relative;
    text-align: center;
}
.login .account-wraper2 .logo {
    margin-bottom: 30px;
}
.login .form-wraper .form-group {
    margin-bottom: 20px;
    position: relative;
}
.login .form-wraper .form-control {
    border: 1px solid rgba(86,90,207,.3);
    border-radius: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
}
.login .btn-primary {
    background-color: #565acf;
    color: #fff !important;
    font-weight: 500;
    margin-bottom: 40px;
}
.login .btn:hover {
    background-color: #494db0 !important;
}
.login .form-group a,.login .form-group a.active,.login .form-group a:focus,.login .form-group a:hover {
    color: #565acf;
    outline: none;
    text-decoration: none;
}
.login .btn-secondary {
    background-color: #f17732 !important;
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;
}
.login .regstir:hover {
    background-color: #ffa36a !important
}
.forget {
    font-weight: 500;
}
@media (max-width: 768px) {
    .login {
        padding: 0 !important;
    }
    
}